---
permalink: /empiricaldevelopmentblog/
title: "Empirical Development (blog)"
excerpt: "blog"
author_profile: true
layout: archive
classes: wide

author_profile: true
---

I am going to try and consistently post here about issues in development and empirical methods. My aim is to share insights into research and, especially, tutorials in using `R` to analyze data and improve decision-making. 

{% include base_path %}

{% for post in site.posts reversed %}
  {% include archive-single.html %}
{% endfor %}

