---
permalink: /empiricaldevelopmentblog/
title: "Non-standard errors (blog)"
excerpt: "blog"
author_profile: true
layout: archive
classes: wide

author_profile: true
---

I am going to try and consistently post here about issues in development and empirical methods. My aim is to share insights into research and, especially, tutorials in using `R` to analyze data and improve decision-making. From time to time, I'll discuss current issues in my field (development economics) as well as other topics that I find interesting/helpful.

{% include base_path %}

{% for post in site.posts reversed %}
  {% include archive-single.html %}
{% endfor %}

