---
permalink: /empiricaldevelopmentblog/
title: "Non-standard errors (blog)"
excerpt: "blog"
author_profile: false
layout: archive
classes: wide
---

I am going to try and consistently post here about issues in development and empirical methods. My aim is to share insights into research and, especially, tutorials in using `R` to analyze data and improve decision-making. From time to time, I'll discuss current issues in my field (development economics) as well as other topics that I find interesting/helpful. One of my main goals is to help others avoid common mistakes in empirical research, so I'll try to provide examples of how to do things right (and wrong).

This blog is brand new, so please be patient as I slowly add content.

{% include base_path %}

{% for post in site.posts reversed %}
  {% include archive-single.html %}
{% endfor %}

