/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: relative;
  border-bottom: 1px solid $border-color;
  -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
  -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($xx-large) {
      max-width: $xx-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {
  display: flex;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
  }

  &--lg {
    margin-left: auto; // Push the --lg items to the left
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;
  padding-right: 1em;

  &--lg {
    padding-right: 5em;
    font-weight: 700;
  }
}